.card-film {
    width: 25%;
    max-width: 282px;
    min-height: 520px;
    background: var(--background-card);
    margin-bottom: 16px;
    margin-right: 24px;
    border-radius: 12px;
    padding: 8px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    position: relative;
}

.card-film:nth-child(4n) {
    margin-right: 0;
}

.card-film:hover {
    transform: translateY(1px);
    transition: all .3s ease-in-out;
}

.card-title {
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
    line-height: 24px;
    padding-left: 8px;
}

.card-img {
    width: 100%;
}

.card-rating {
    position: absolute;
    color: var(--gold);
    padding: 4px 8px;
    font-size: 16px;
    background: var(--black);
    border-radius: 8px;
    top: 16px;
    left: 16px;
    display: flex;

}

.card-icon {
    margin-right: 4px;
}

.card-like {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--purple);
    padding-left: 8px;
    margin-bottom: 24px;
    display: flex;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.card-like:hover {
    color: #9D94F0;
    transition: all .3s ease-in-out;
}

.card-img_like {
    margin-right: 8px;
}

.card-link {
  display: contents;
}