.card-head{
  display: flex;
  flex-direction: column;
  max-height: 144px;
  padding: 40px;
  border-radius: 24px;
  background: #20283ECC;
  margin-bottom: 80px;
}

.card-search {
  color: #BEB7FB;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 14px;
}

.card-title {
  color: var(--white);
  margin: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.card-img img{
  border-radius: 24px ;
  width: 100%;
}

.card-film {
  max-width: 1050px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.film-container {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin-bottom: 35px;
}

.film-rating {
  background: var(--black);
  display: flex;
  height: 32px;
  width: 59px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}

.card-description {
  max-width: 480px;
  
}

.card-description {
 display: flex;
 flex-direction: column;
  margin: 0;
  
}

.card-description_text {
  margin: 0;
  margin-bottom: 24px;
  color: var(--gray);
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.card-favorites {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.card-rating {
  color: var(--gold);
}

.card-icon {
  margin-right: 4px;
  width: 16px;
  height: 16px;
}

.card-like {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  line-height: 24px;
  color: var(--purple);
  padding-left: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .3s ease-in-out;
  background: none;
  border: none;
}

.card-like:hover {
  color: #9D94F0;
  transition: all .3s ease-in-out;
}

.card-img_like {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.card-link {
  display: contents;
}

.card-description_details span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--second-gray);
}

.card-description_details p {
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0%;
    color: var(--gray-100);
}

.film-desc {
  padding: 40px;
  border-radius: 24px;
  backdrop-filter: blur(24px);
  background: rgba(32, 40, 62, 0.8);
  font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #8e95a9;
}

.film-desc_title {
  display: flex;
  justify-content: space-between;
}

.film-desc_title__text {
  margin: 0;
  font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    color: var(--gray-100);
    margin-bottom: 16px;
}

.film-desc_title__data {
  margin: 0;
  font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--second-gray);
}